* {
  box-sizing: border-box;
}

header {
  display:flex;
  flex-direction: row;
  background-color: #31343D;
  padding-bottom: 10px;
  height: 80px;
  
}

.avatar {
  display:flex;
  background-image: url(../images/avatar.jpg);
  background-size: 80px;
  background-repeat: no-repeat;
  width: 20%;
  padding-top: 9vh;
 }

a {
  color: white;
}

body {
  background-color: #767985;
}

br { 
  display: none; 
}

.myName {
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;
  color: #92CCCD;
  line-height: 1.5;
  width: 30%;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-top: 15px;
}

header nav {
  display: flex;
  padding-top: 15px;
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 60%;
  font-size: 32px;
  justify-content: center;
  align-items: center;
  /* positions links and sets the font and font size */
}

nav a:hover {
  background-color: #92CCCD;
  color: white;
}

nav ul li {
  display: inline-block;
  margin-left: 25px;
  /* sets margin and position of the links */
}

.hero-banner {
  height: 200px;
  width: 100%;
  background-image: url(../images/02-hero-bg.jpg);
  background-position: center;
  background-size: 2000px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


h2 {
  color: #92CCCD;
  padding-left: 20px;
}
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

/* Grid Area */

#categoryGrid {
  margin: 5px;
  display: grid;
  background-color: #31343D;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 300px 300px 300px;
  grid-template-areas: 
  "coderefracting coderefracting"
  "studyguide calculator"
  "week3 week4";
}

#coderefracting {
  grid-area: coderefracting;
  background-image: url(../images/02-portfolio-1.jpg);
}

#studyguide {
  grid-area: studyguide;
  background-image: url(../images/02-portfolio-2.jpg);
}

#calculator {
  grid-area: calculator;
  background-image: url(../images/02-portfolio-3.jpg);
}

#week3 {
  grid-area: week3;
  background-image: url(../images/02-portfolio-4.jpg);
}

#week4 {
  grid-area: week4;
  background-image: url(../images/02-run-buddy.jpg);
}

#test{
  position: relative;
}

#test a{
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}
.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  color: white;
  font-size: 18px;
}

.page-section-contact {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  align-items: center;
}

/* for mobile phones */
@media only screen and (max-width: 600px) {
    #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'coderefracting'
    'studyguide'
    'calculator'
    'week3'
    'week4'
    ;
  }
    .coolSubtitle {
      display: none;
  }
    .avatar {
      display: none;
    }
    .nav ul li {
      display: inline-block; 
    }
    header nav {
      font-size: 14px;
      
    }
    .myName {
      display: flex;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
      align-items: center;
      justify-content: center;
      }
    br { 
      display:block; 
    }

    .contactMobile {
      display: flex;
      font-size: 10px;

    }
}