* {
  box-sizing: border-box;
}

/* CSS Variables for use throughout the CSS file. */
:root {
--grey: #31343D;
--turquoise: #92CCCD;
}

header {
  display:flex;
  flex-direction: row;
  background-color: #31343D;
  padding-bottom: 10px;
  height: 80px;
  
}

.myAvatar {
  display:flex;
  background-image: url(../images/avatar.jpg);
  background-size: 80px;
  background-repeat: no-repeat;
  width: 20%;
  padding-top: 9vh;
 }

a {
  color: white;
}

body {
  background-color: #767985;
}

br { 
  display: none; 
}

/* styling options for displaying my name in the header */
.myName {
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 35px;
  color: var(--turquoise);
  line-height: 1.5;
  width: 30%;
  align-items: center;
  justify-content: center;
  padding-right: 10px;
  padding-top: 15px;
}

/* styling options for the navigation bar contianing links to other parts of the page */
header nav {
  display: flex;
  padding-top: 15px;
  margin-right: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 60%;
  font-size: 32px;
  justify-content: center;
  align-items: center;
  /* positions links and sets the font and font size */
}

/* adds a background colour to each link when the mouse hovers over them. */
nav a:hover {
  background-color: var(--turquoise);
  color: white;
}

  /* sets margin and position of the links */
nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* adds a background image and sets the size and position */
.hero-banner {
  height: 200px;
  width: 100%;
  background-image: url(../images/02-hero-bg.jpg);
  background-position: center;
  background-size: 2000px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


h2 {
  color: var(--turquoise);
  padding-left: 20px;
}
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  padding-left: 20px;
  padding-right: 20px;
}

/* Grid Area */

#categoryGrid {
  margin: 5px;
  display: grid;
  position: relative;
  background-color: var(--grey);
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 300px 300px 300px;
  grid-template-areas: 
  "coderefracting coderefracting"
  "project-2 project-3"
  "project-4 project-5";
}

/* lowers the transparency of the image */
#coderefracting {
  grid-area: coderefracting;
  opacity: .7
}

/* hides the image when displaying outside of the grid area */
.image-wrapper {
  position: relative;
  overflow: hidden;
}

/* turns everything dispalayed within the grid area into a clickable link */
.image-wrapper a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* increases the transpaercny whent he mouse hovers over the image */
#coderefracting:hover {
  opacity: 1;
  cursor: pointer;
}

/* styles the heading titles */
.heading {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  color: white;
  font-size: 18px;
}

/* positions this specific heading title for the code refracting grid area */
.heading1 {
  position: relative;
  bottom: 729px;
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  color: white;
  font-size: 18px;
}

#project-2 {
  grid-area: project-2;
  background-image: url(../images/02-portfolio-2.jpg);
  opacity: .7
}

#project-2:hover {
  opacity: 1;
  cursor: pointer;
}

#project-3 {
  grid-area: project-3;
  background-image: url(../images/02-portfolio-3.jpg);
  opacity: .7
}

#project-3:hover {
  opacity: 1;
  cursor: pointer;
}

#project-4 {
  grid-area: project-4;
  background-image: url(../images/02-portfolio-4.jpg);
  opacity: .7
}

#project-4:hover {
  opacity: 1;
  cursor: pointer;
}

#project-5 {
  grid-area: project-5;
  background-image: url(../images/02-run-buddy.jpg);
  opacity: .7
}

#project-5:hover {
  opacity: 1;
  cursor: pointer;
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

/* sets the font and positioning for hyperlinks */
.page-section-contact {
  display: flex;
  flex-direction: row;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  align-items: center;
}

/* style for mobile devices */
@media only screen and (max-width: 600px) {
    #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'coderefracting'
    'project-2'
    'project-3'
    'project-4'
    'project-5'
    ;
  }
  /* hides avatar when viewed on mobile displays */
    .myAvatar {
      display: none;
    }

    .nav ul li {
      display: inline-block; 
    }

    .resume {
      margin-left: 10px;
    }

    header nav {
      font-size: 14px;
      
    }
    .myName {
      display: flex;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
      align-items: center;
      justify-content: center;
      }

   br { 
      display:block; 
    }

    .contactMobile {
      display: flex;
      font-size: 10px;
      padding-left: 0px;
    }

    .navContact {
      color: aqua;
    }
}

/* style for larger mobile devices such as tablets */
@media only screen and (min-width:700px) and (max-width: 1200px) {
  #categoryGrid {
  grid-template-rows: 300px 300px 300px 300px 300px;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'coderefracting'
  'project-2'
  'project-3'
  'project-4'
  'project-5'
  ;
}
/* hides avatar when viewed on mobile displays */
  .myAvatar {
    display: none;
  }

  header nav {
    font-size: 21px;
  }

  .resume {
    margin-left: 10px;
  }

  .myName {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    }

  .contactMobile {
   display: flex;
   font-size: 10px;
   padding-left: 0px;
  }
  .navContact {
    display: flex;
    flex: wrap;
    }
}